.text-box {
    padding: 30px 10px;
}


/* UTILITIES*/
.bg-gray {
    background-color: rgb(248, 249, 250);
}
.bg-dark-gray {
    background-color: rgb(108, 117, 125);
}
.bg-blue {
    background-color: rgb(13, 110, 253);
}
.bg-green {
    background-color: rgb(25, 135, 84);
}
.bg-red {
    background-color: rgb(220, 53, 69);
}
.bg-azure {
    background-color: rgb(13, 202, 240);
}
.bg-yellow {
    background-color: rgb(255, 193, 7);
}
.bg-black {
    background-color: rgb(33, 37, 41);
}

.mb-40 {
    margin-bottom: 40px;
}